[submodule "pyModeS"]
	path = pyModeS
	url = https://github.com/junzis/pyModeS.git
[submodule "engage-hackaton"]
	path = engage-hackaton
	url = https://github.com/Innaxis/engage-hackaton.git
[submodule "engage-hackaton-checkpoint"]
	path = engage-hackaton-checkpoint
	url = https://github.com/Innaxis/engage-hackaton-checkpoint.git
